<ion-view view-title="Find Supplier Parameters" hide-back-button="false">
  <ion-content>
  	<label class="item item-input item-select">
	    <div class="input-label">
		      Job Category
		</div>
	    <select id="supplierJobs">
	      <option ng-repeat="cat in categories track by $index">{{cat.description}}</option>
	    </select>
	</label>
	<label class="item item-input item-select">
		    <div class="input-label">
		      Job Type
		    </div>
		    <select id="jobType">
		      <option ng-repeat="type in jobtypes">{{type.description}}</option>
		    </select>
	</label>

	<div class="list list-inset">
		<button class="item button button-full button-positive" ng-click="showSuppliers(1)">The closest supplier</button>
		<button class="item button button-full button-positive" ng-click="showSuppliers(5)">5 closest supplier</button>
		<button class="item button button-full button-positive" ng-click="showSuppliers(10)">10 closest supplier</button>
		<button class="item button button-full button-positive" ng-click="showSuppliers(20)">20 closest supplier</button>

	</div>
  </ion-content>
</ion-view>
