<ion-view  cache-view="true" view-title="Full Message" hide-back-button="false">
  	<ion-content>
	  	<div class="list list-inset">
	  		<a class="item item-divider">
				<strong>Message Details:<strong>
			</a>
			<a class="item">
		  		<strong>Sender Name:</strong><span id="viewSenderName" style="margin-left:10px;font-weight:normal;"></span>
		  	</a>
	  		<a class="item">
		  		<strong>Sender Email:</strong><span id="viewSenderEmail" style="margin-left:10px;font-weight:normal;"></span>
		  	</a>
		  	<a class="item">
		  		<strong>Sender Username:</strong><span id="viewSenderUsername" style="margin-left:10px;font-weight:normal;"></span>
		  	</a>
			<a class="item">
				<strong>Date Sent:</strong><span id="viewDate" style="margin-left:10px;font-weight:normal;"></span>
			</a>
			<a class="item">
				<strong>Job ID:</strong><span id="viewJobID" style="margin-left:10px;font-weight:normal;"></span>
			</a>
			<!-- <div class="item">
				<strong>Subject:</strong><textarea style="background-color:white;width:100%" readonly id="viewSubject" maxlength="1000" rows="4" type="text"></textarea>
			</div><br> -->
			<a class="item item-divider">
				<strong>Message:<strong>
			</a>
		  <label class="item item-input">
		    <textarea style="background-color:white" readonly id="viewMessage" maxlength="1000" rows="4" type="text"></textarea>
		  </label>
		</div>
		<div style="text-align: right;margin: 13px;">
			<button class="button icon-left button-positive ion-reply" ng-click="replyMsg(1)">Reply</button>	
			<button class="button icon-left button-assertive ion-trash-a" ng-click="deleteMsg(1)">Delete</button>
		</div>
	</ion-content>
</ion-view>
