<ion-view view-title="Find Supplier" hide-back-button="false">
  <ion-content class="lol">
  	<div id="suppMapbox" style="display:none">
		<div id="map" style="width:100%; height:55%;" data-tap-disabled="true"></div>
		<a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
	</div>	
	  <div class="list" id="suppListbox" style="height:70%" style="display:inline">
	      <ion-item data-ng-repeat="supp in suppliers track by $index" ng-click="viewSupplier(supp.id)">
			   <h2>Email: {{supp.email}}</h2>
	      </ion-item>
	  </div>
    <div class="list list-inset">
	    <label class="item item-input">
	    	<strong>Latitude:</strong>
			<input style="margin-left:15px;" ng-model="tmpLat" type="text">
		</label>
		<label class="item item-input">
	    	<strong>Longitude:</strong>
			<input style="margin-left:15px;" ng-model="tmpLng" type="text">
		</label>
		<a id="maplistBtn" class="item button button-full button-positive" ng-click="showMapView()">Show Map View</a>
	</div>
  </ion-content>
</ion-view>
