<ion-view view-title="Quoter Member Menu" hide-back-button="true">
  <ion-content>
  <br><br>
	<div style="text-align:center"> 
		<a href="#app/post-job" class="button button-outline button-positive ion-compose" style="width:45%;font-size: 22px;"><br>Post a Job</a>
		<a href="#app/my-jobs" class="button button-outline button-balanced ion-briefcase" style="width:45%;font-size: 22px;"><br>My Jobs</a>
	</div>
	<div style="text-align:center; margin-top:6px"> 
		<a href="#app/find-supplier" class="button button-outline button-energized ion-search" style="width:45%;font-size: 22px;"><br>Find Supplier</a>
		<a href="#app/messages" class="button button-outline button-assertive ion-email" style="width:45%;font-size: 22px;"><br>Messages</a>
	</div>
	<div style="text-align:center; margin-top:6px">
		<a href="#app/preferences" class="button button-outline button-royal ion-settings" style="width:45%;font-size: 22px;"><br>Options</a>
	</div>
  </ion-content>
</ion-view>
