<ion-view view-title="Messages" hide-back-button="false" ng-init="StartTimerMsg()">
  <ion-content style="margin-bottom:50px">
  <!-- <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="searchJob">
  </label> -->
  	<div id="allMsgsPanel" style="display:inline">
		<ion-list>
	      <ion-item class="item-icon-right" data-ng-repeat="m in receivedMsgs | filter : searchJob  track by $index">
			<div style="width:90%" ng-click="showMoreMsg(m)">
				<h2>{{m.id}} - {{m.sender_name}}</h2>
				<p>Job ID: {{m.jobid}} - {{m.timestamp}}</p>
			</div>
			<i style="right:50px" class="icon ion-reply" ng-click="replyMsg(m)"></i>	
			<i class="icon ion-trash-a" ng-click="deleteMsg(m)"></i>	
	      </ion-item>
	    </ion-list>
	</div>

	<div id="allMsgsSentPanel" style="display:none">
		<ion-list>
	      <ion-item class="item-icon-right" data-ng-repeat="m in sentMsgs | filter : searchJob  track by $index">
			<div style="width:90%" ng-click="showMoreMsgSent(m)">
				<h2>{{m.id}} - {{m.sender_name}}</h2>
				<p>Job ID: {{m.jobid}} - {{m.timestamp}}</p>
			</div>	
	      </ion-item>
	    </ion-list>
	</div>

	<div id="allMsgsByJobPanel" style="display:none">
    <ion-list>
      <ion-item style="padding-right: 16px;"class="item-icon-right" data-ng-repeat="job in filteredJobs | filter : searchJob track by $index">
			<div ng-click="showMoreMsg(m)">
				<h2><strong>Job ID: {{job.id}}</strong></h2>
				<ion-list>
			      <ion-item style="padding-right: 16px;" class="item-icon-right" data-ng-repeat="m in receivedMsgs | filter : job.id">
					<div style="width:78%" ng-click="showMoreMsg(m)">
						<h2>{{m.id}} - {{m.sender_name}}</h2>
						<p>{{m.jobid}} : {{m.timestamp}}</p>
					</div>
					<i style="right:50px" class="icon ion-reply" ng-click="replyMsg(m)"></i>	
					<i class="icon ion-trash-a" ng-click="deleteMsg(m)"></i>	
			      </ion-item>
			  	</ion-list>
			</div>
      	</ion-item>
    </ion-list>
    </div>
    
  </ion-content>
  <ion-footer>
	  <div class="tabs tabs-striped tabs-color-positive">
	  <a id="btnViewAll" class="tab-item active" ng-click="viewAll()">
	    Received Mails
	  </a>
	  <a id="btnViewAllSent" class="tab-item" ng-click="viewAllSent()">
	    Sent Mails
	  </a>
	  <a id="btnViewJobs" class="tab-item" ng-click="viewByJobs()">
	    View by Jobs
	  </a>
	</div>
</ion-footer>
</ion-view>
