<ion-view view-title="My Jobs" hide-back-button="false" ng-init="StartTimer()">
  <ion-content>
	<ion-list>
      <ion-item class="item-icon-right" ng-repeat="job in jobs" ng-click="showJobInfo(job)">
		   <h2>{{job.jobname}}</h2>
		  <p>Posted on: {{job.timestamp}}</p>
		  <i class="icon ion-trash-a" ng-click="deleteJobFromList(job.id)"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
