<ion-view  cache-view="true" view-title="Post a Job" hide-back-button="false" ng-init="StartTimer()">
  	<ion-content>
	  	<div class="list list-inset">
		  <a class="item item-icon-left item-divider">
		    <i class="icon ion-briefcase"></i>
		    Job Details
		  </a>

		  <label class="item item-input">
		    <input ng-model="postJobData.jobname" type="text" placeholder="Job Name">
		  </label>

		  <label class="item item-input item-select">
		    <div class="input-label">
		      Job Category
		    </div>
		    <select id="jobCategory">
		      <option ng-repeat="category in categories">{{category.description}}</option>
		    </select>
		  </label>

		  <label class="item item-input item-select">
		    <div class="input-label">
		      Job Type
		    </div>
		    <select id="jobType">
		      <option ng-repeat="type in jobtypes">{{type.description}}</option>
		    </select>
		  </label>

		  <label class="item item-input">
		    <textarea id="textAreaDescription" ng-model="postJobData.jobDescription" maxlength="1000" rows="4" type="text" placeholder="Detailed description of the work required"></textarea>
		  </label>
		  <div id="textarea_feedback" style="text-align: right"></div>
		</div>


		<div class="list list-inset">
		  <a class="item item-icon-left item-divider">
		    <i class="icon ion-cash"></i>
		    Estimates
		  </a>
			<label class="item item-input item-select">
		    <div class="input-label">
		      Estimates Type
		    </div>
		    <select id="estimateTypes" >
		      <option selected>Labour and materials</option>
		      <option>Labour only</option>
		    </select>
		  </label>

		  <label class="item item-input">
		    <span class="input-label">Job Location</span>
		    <input id="latIn" type="number" value="{{x1}}" placeholder="Latitude">
		    <input id="longIn" type="number" value="{{x2}}" placeholder="Longitude">
		  </label>
		  <a href="#app/set-location" class="item button button-full button-positive">
			  Set Location
		  </a>
		</div>

		<div class="list list-inset">
		  <a class="item item-icon-left item-divider">
		    <i class="icon ion-information-circled"></i>
		    More Info
		  </a>
		<p class="item item-text-wrap">In order to be contacted by the most appropriate tradespeople please tell us a little more.</p>
	    <select id="because" style="width:100%; font-size:14px" class="item">
	      <option selected disabled>I would like to receive quotes because...</option>
	      <option>the work is required and I want to select a company</option>
	      <option>the work is required - insurance work</option>
	      <option>the work is required but may be dependent on the quotes</option>
	      <option>the work is not required,  I just need an idea of price</option>
	      <option>I require someone for subcontracting work</option>
	    </select>

	    <select id="sizee" style="width:100%; font-size:14px" class="item">
	      <option selected disabled>I broadly estimate the size of the job to be...</option>
	      <option>Less than a day</option>
	      <option>1 To 3 days</option>
	      <option>4 days To a week</option>
	      <option>1 To 2 weeks</option>
	      <option>2 weeks To a month</option>
	      <option>More than a month</option>
	    </select>

	    <select id="startt" style="width:100%; font-size:14px" class="item">
	      <option selected disabled>I would like the work to begin...</option>
	      <option>As soon As possible</option>
	      <option>Within the Next week</option>
	      <option>Within the Next month</option>
	      <option>Within the Next 2 months</option>
	      <option>Longer than 2 months</option>
	    </select>

		<br>
		  <button class="item button button-block button-balanced" ng-click="postjob(postJobData)">
			  Submit
		  </button>
		</div>

	</ion-content>
</ion-view>
