<ion-view cache-view="false" view-title="Options" hide-back-button="false">
  	<ion-content>
	  	<div class="list list-inset">
		  <a class="item item-icon-left item-divider">
		    <i class="icon ion-locked"></i>
		    Privacy
		  </a>
		  <div class="item">
	  		<input id="stayIn" type="checkbox">Stay signed in
	  		<p>Only works in log in screen.</p>
	  	  </div>
		</div>

		<div class="list list-inset">
		  <a class="item item-icon-left item-divider">
		    <i class="icon ion-locked"></i>
		    Change Password
		  </a>
		  <label class="item item-input">
		    <input ng-model="changePassData.passNew" type="password" placeholder="New Password">
		  </label>
		  <label class="item item-input">
		    <input ng-model="changePassData.passNewRep" type="password" placeholder="Repeat New Password">
		  </label>
		  <label style="padding-left:1px;"class="item item-input">
		  <button class="button button-block button-balanced" ng-click="changePassword(changePassData)">
			  Submit
		  </button>
		  </label>
		</div>

		<div class="list list-inset">
		  <a class="item item-icon-left item-divider">
		    <i class="icon ion-cash"></i>
		    Payments
		  </a>

		</div>

		<div class="list list-inset">
		  <a class="item item-icon-left item-divider">
		    <i class="icon ion-search"></i>
		    Search
		  </a>


		</div>

	</ion-content>
</ion-view>
