<ion-view view-title="Set Location" hide-back-button="false">
  <ion-content class="lol">
  	<div>
	    <div class="item item-input">
			<input id="aLoc"type="text" placeholder="Address" value="{{addressInput}}">
			<button style="margin-right:10px" ng-click="centerMap()" class="button button-small button-positive">Center Map</button>
		</div>
		<a  ng-click="confirmLoc()" class="button button-full button-balanced">Confirm Location</a>
	</div>	

	<div id="mapForSL" style="width:100%; height:67%;" data-tap-disabled="true"></div>

    <div class="list list-inset">
	    <label class="item item-input">
			<input style="margin-left:15px;" value="{{x1}}" type="number" placeholder="Latitude">
			<input style="margin-left:15px;" value="{{x2}}" type="number" placeholder="Longitude">
		</label>
	</div>
  </ion-content>
</ion-view>
