<ion-view cache-view="false" view-title="Supplier Profile" hide-back-button="false">
  <ion-content>
  <div class="list card">
	  <a class="item item-icon-left">
	    <i class="icon ion-email"></i>
	    Email
	    <span class="item-note">
      		{{supplierDetails.suppEmail}}
    	</span>
	  </a>
	  <a class="item item-icon-left">
	    <i class="icon ion-person"></i>
	    First Name
	    <span class="item-note">
      		{{supplierDetails.suppFname}}
    	</span>
	  </a>
	  <a class="item item-icon-left">
	    <i class="icon "></i>
	    Last Name
	    <span class="item-note">
      		{{supplierDetails.suppLname}}
    	</span>
	  </a>
<!-- 	  <a class="item item-icon-left">
	    <i class="icon ion-iphone"></i>
	    Mobile
	    <span class="item-note">
      		{{supplierDetails.suppMobile}}
    	</span>
	  </a> -->
	  <a class="item item-icon-left">
	    <i class="icon ion-ion-location"></i>
	    Latitude
	    <span class="item-note">
      		{{supplierDetails.suppLat}}
    	</span>
	  </a>
	  <a class="item item-icon-left">
	    <i class="icon"></i>
	    Longitude
	    <span class="item-note">
      		{{supplierDetails.suppLong}}
    	</span>
	  </a>
	  <br>
	  <label class=" item-input item-select">
	    <div class="input-label">
	      Select Job ID:
	    </div>
	    <select id="jobsForSupp">
	      <option ng-repeat="job in jobs">{{job.id}}</option>
	    </select>
  	</label>
	<button class="button button-full button-balanced" ng-click="messageSupplier()">
		Message this Supplier
	</button>
	</div>
  </ion-content>
</ion-view>
