<ion-view view-title="Find Jobs" hide-back-button="false">
  <ion-content>
	<ion-list>
      <ion-item ng-repeat="job in jobsFound track by $index" ng-click="showJobInfo(job)">
		   <h2>Job ID: {{job.id}} - {{job.jobname}}</h2>
		  	<p>{{job.timestamp}} | Posted by: {{job.member.email}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
