<ion-view cache-view="false" view-title="Job Details" hide-back-button="false">
  <ion-content>
  <div class="list card">
	<a class="item item-divider">
		<strong>Job Information:<strong>
	</a>
  	<a class="item item-icon-left">
	    <i class="icon ion-key"></i>
	    Job ID
	    <span class="item-note">
      		{{jobInfo.id}}
    	</span>
	  </a>
	  <a class="item item-icon-left">
	    <i class="icon ion-briefcase"></i>
	    Job Name
	    <span class="item-note">
	    	{{jobInfo.jobname}}
    	</span>
	  </a>
	  <a class="item item-icon-left">
	    <i class="icon ion-calendar"></i>
	    Posted on
	    <span class="item-note">
      		{{jobInfo.timestamp}}
    	</span>
	  </a>
	  <a class="item item-icon-left">
	    <i class="icon ion-person"></i>
	    Posted by
	    <span class="item-note">
      		{{jobInfo.member.email}}
    	</span>
	  </a>
	</div>
	<div class="list card">
	  <a class="item item-divider">
		<strong>Description:<strong>
		</a>
	  <label class="item item-input">
		<textarea style="background-color:white" readonly id="jobDescription" maxlength="1000" rows="4" type="text"></textarea>
		</label>
		<a class="item item-icon-left">
		    <i class="icon ion-hammer"></i>
		    Labour Type
		    <span class="item-note">
	      		{{jobInfo.labourtypeid.description}}
	    	</span>
	  </a>
	  <br>
	<button class="button button-full button-balanced" ng-click="bidToJob()">
		Bid to this Job
	</button>
	</div>
  </ion-content>
</ion-view>
