<ion-view view-title="My Jobs" hide-back-button="false" ng-init="StartTimer()">
  <ion-content>
	<ion-list>
      <ion-item ng-repeat="job in jobs" ng-click="showMore(job)">
		   <h2>Job ID: {{job.id}} - {{job.jobname}}</h2>
		  <p>{{job.description}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
