<ion-view cache-view="false" view-title="Options" hide-back-button="false">
  	<ion-content>
  		<div class="list list-inset">
		  <a class="item item-icon-left item-divider">
		    <i class="icon ion-chatbubble-working"></i>
		    Status
		  </a>
		   <li class="item item-toggle">
		     Online
		     <label class="toggle toggle-positive">
		       <input id="statusToggle" type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>
		</div>

		<div class="list list-inset">
		  <a class="item item-icon-left item-divider">
		    <i class="icon ion-key"></i>
		    Change Password
		  </a>
		  <label class="item item-input">
		    <input ng-model="changePassData.passNew" type="password" placeholder="New Password">
		  </label>
		  <label class="item item-input">
		    <input ng-model="changePassData.passNewRep" type="password" placeholder="Repeat New Password">
		  </label>
		  <label style="padding-left:1px;"class="item item-input">
		  <button class="button button-block button-balanced" ng-click="changePassword(changePassData)">
			  Save new password
		  </button>
		  </label>
		</div>

		<div class="list list-inset">
		  <a class="item item-icon-left item-divider">
		    <i class="icon ion-person"></i>
		    Change Name
		  </a>
		  <label class="item item-input">
		    <input style="background-color:white;" type="text" disabled>
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="First Name">
		  </label>
		  <label class="item item-input">
		    <input  type="text" placeholder="Last Name">
		  </label>
		  <label style="padding-left:1px;"class="item item-input">
		  <button class="button button-block button-positive" ng-click="">
			  Save new name
		  </button>
		  </label>
		</div>

		<div class="list list-inset">
		  <a class="item item-icon-left item-divider">
		    <i class="icon ion-location"></i>
		    Change Location
		  </a>
		  <label class="item item-input">
		    <input  type="text" placeholder="Latitude">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Longitude">
		  </label>
		  <label style="padding-left:1px;"class="item item-input">
		  <button class="button button-block button-royal" ng-click="">
			  Save new location
		  </button>
		  </label>
		</div>

	  	<div class="list list-inset">
		  <a class="item item-icon-left item-divider">
		    <i class="icon ion-locked"></i>
		    Privacy
		  </a>
		  <div class="item">
	  		<input id="stayIn" type="checkbox">Stay signed in
	  		<p>Only works in log in screen.</p>
	  	  </div>
		</div>

<!-- 		<div class="list list-inset">
		  <a class="item item-icon-left item-divider">
		    <i class="icon ion-cash"></i>
		    Payments
		  </a>
		</div>

		<div class="list list-inset">
		  <a class="item item-icon-left item-divider">
		    <i class="icon ion-search"></i>
		    Search
		  </a>
		</div> -->

	</ion-content>
</ion-view>
