<ion-view view-title="Supplier Menu" hide-back-button="true">
  <ion-content>
  <br><br>
	<div style="text-align:center">
		<a ng-click="goMyJobs()" class="button button-outline button-balanced ion-briefcase" style="width:45%;font-size: 22px;"><br>My Jobs</a> 
		<a ng-click="goFindJobs()" class="button button-outline button-positive ion-search" style="width:45%;font-size: 22px;"><br>Find Jobs</a>
	</div>
	<div style="text-align:center; margin-top:6px"> 
		<a ng-click="goMessages()" class="button button-outline button-assertive ion-email" style="width:45%;font-size: 22px;"><br>Messages</a>
		<a ng-click="goPreferences()" class="button button-outline button-energized ion-settings" style="width:45%;font-size: 22px;"><br>Options</a>
	</div>
  </ion-content>
</ion-view>
