<div class="tabs-striped  tabs-background-positive tabs-color-light" ng-init="setLocSupplier()">
    <div class="tabs">
      <a class="tab-item " href="#/app/login"><i class="icon ion-unlocked"></i> Login </a>
      <a class="tab-item active" href="#/app/signup"> <i class="icon ion-person"></i> Sign Up </a>
    </div>
  </div>

<ion-view view-title="Sign Up" class="loginBg" hide-nav-bar="true" >
  <ion-content class="padding">

  <div class="row responsive-sm padding remvoeBP">
	  <div class="col">
		   <!-- <div class="app-logo"><img src="img/logo.png"></div>  -->
			<h1 style="color:white;text-align: center;">Quoter<br>Supplier</h1><br>
			<div class="list list-inset removePM">
			  <label class="item item-input"><input type="text" ng-model="regDetails.fName" placeholder="First Name"> </label>
			  <label class="item item-input"><input type="text" ng-model="regDetails.lName" placeholder="Last Name"> </label>
			  <label class="item item-input"><input type="text" ng-model="regDetails.eAdd" placeholder="Email Address"> </label>
			  <label class="item item-input"><input type="text" ng-model="regDetails.username" placeholder="Username"> </label>
			  <label class="item item-input"><input type="password" ng-model="regDetails.password" placeholder="Password"> </label>
			  <label class="item item-input">
			    <input id="latIn" value="" type="number" placeholder="Latitude">
			    <input id="longIn" value="" type="number" placeholder="Longitude">
			  </label>
			  <label class="item item-input item-select">
			    <div class="input-label">
			      Job Category
			    </div>
			    <select id="jobCategory">
			      <option ng-repeat="category in categories">{{category.description}}</option>
			    </select>
			  </label>
			  <label class="item item-input item-select">
			    <div class="input-label">
			      Job Type
			    </div>
			    <select id="jobType">
			      <option ng-repeat="type in jobtypes">{{type.description}}</option>
			    </select>
			</label>
			</div>

			<div class="loginButton"><button class="button ion-person button-block button-balanced" ng-click="registerUser(regDetails)"> Register </button>  </div>
	  </div>
  </div>

  </ion-content>
</ion-view>
